body{
    margin: 0px;
}
.greeting,
.form{
    display: none;
}
.showingOn{
    display: block;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background-size: auto;
    animation: fadeIn 1s linear;
}

